body {
     min-height: 100%;
     display: flex;
     flex-direction: column;
 }
.header{
    background-image: url("../content/header_background.png");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    box-sizing: border-box;
    background-position-y: bottom;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.header__container{
    display: flex;
    flex-direction: column;
}
.header__menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 49px 0 0;
}
.header__menu li:hover{
    opacity: 0.8;
}
.header__wrapper{
    flex-grow: 1;
    background-image: url("../content/header_element.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right ;
    margin-top: 115px;
    padding-bottom: 90px;
    margin-bottom: 93px;
}
.header__title{
    max-width: 506px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.header__text{
    margin-top: 32px;
    max-width: 425px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}
.header__button{
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFF;

    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 50px;
    display: inline-block;
}
.header__button:hover{
    background: #418bcb
}
.title_what-we-do {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;
    margin: 64px 0;
}
.main__cards{
    display: flex;
    gap: 32px;
    margin-bottom: 64px;
    flex-wrap: wrap;
    justify-content: center;
}
.main__card {
    box-sizing: border-box;
    max-width: 359px;
    flex-basis: 140px;
    flex-grow: 1;
    background: #FFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 44px 32px;
    display: flex;
    flex-direction: column;
}
.icon1 {
    max-width: 171.94px;
    min-height: 120.72px;
    align-self: center;
}
.icon2 {
    min-height: 121.8px;
    max-width: 125px;
    align-self: center;
}
.icon3 {
    max-width: 147.38px;
    min-height: 118.68px;
    align-self: center;
}

.card_title {
    max-width: 295px;
    min-height: 56px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-top: 51px;
    margin-bottom: 14px;
}
.card_text {
    max-width: 295px;
    min-height: 95px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 30px;
}
.card_button {
    display: flex;
    text-decoration: none;
    gap: 24px;
    max-width: 121px;
    min-height: 27px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
}
.card_button:hover{
   color: rgba(90, 152, 208, 0.6);
   gap: 10px;
}
.arrow {
    width: 15px;
    height: 15px;
}
.card_button:hover svg path{
    fill: rgba(90, 152, 208, 0.6);;
}
.title_finished_project {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;
    margin-bottom: 32px;
}

.main__finished-subtitle {
    display: flex;
    max-width: 750px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222;
    margin: auto auto 64px auto;
}
.main__smart-home{
    position: relative;
    margin-bottom: 32px;
}
.main__smart-home:hover .smart-home__text {
    display: block;
}
.smart-home__img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.smart-home__text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 64px;
    right: 64px;
    display: none;
}
.main__apps-wrapper {
    margin-top: 32px;
    display: flex;
    gap: 32px;
    margin-bottom: 112px;
    justify-content: center;
    align-items: center;
}
.main__apps {
    position: relative;
}
.main__app{
    position: relative;
    flex-grow: 1;
    width: 100%;
    border-radius: 10px;
}

.app__text {
    position: absolute;
    font-family: 'Roboto',sans-serif;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFF;
    top: 32px;
    left: 32px;
    display: none;
}
.main__apps:hover .app__text{
    display: block;
}
.gradient {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 0;
    border-radius: 10px;
    overflow: hidden;
}
.gradient:hover:after {
    cursor: pointer;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}
.gradient1:hover:after {
    background: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%)
}
.gradient2:hover:after {
    background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
}
.gradient3:hover:after {
    background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
}
.gradient1:hover:before {
    content: "";
    display: block;
    width: 100%;
    height: 87%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../content/smart.svg) 0 0 no-repeat;
    background-size: 40%;
    z-index: 100;
}
.footer {
    min-height: 657px;
    background: #316099;
}
.firstPart_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__title {
    max-width: 340.96px;
    font-family: 'Roboto',sans-serif;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFF;
    margin-top: 91px;
    margin-bottom: 32px;
}
.footer__text {
    max-width: 494.77px;
    font-family: 'Roboto',sans-serif;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFF;
    opacity: 0.6;
    margin-bottom: 96px;
}
.footer_button{
    box-sizing: border-box;
    display: inline-block;
    background: #5A98D0;
    font-family: 'Roboto',sans-serif;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFF;
    text-decoration: none;
    padding: 15px 80px;

}
.footer_button:hover{
    background: #418bcb
}
.line {
    width: 100%;
    border-top: 1px solid #FFF;
    opacity: 0.4;
}
.secondPart_footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Roboto',sans-serif;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFF;
    margin: 64px 0;
    max-width: 358px;
}
.secondPart_footer1 {
    display: flex;
    gap: 10px;
}
.number {
    width: 22.81px;
    height: 26px;
    padding-right: 19px;
}
.secondPart_footer1text {
    width: 315px;
    height: 48px;
    color: #FFF;
}
.rights {
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFF;
    opacity: 0.4;
    margin-bottom: 64px;
}
.contact_us {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFF;
    margin-bottom: 16px;
}
.contact_us_text {
    display: flex;
    margin: auto;
    max-width: 780px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.header__contacts_wrapper{
    box-sizing: border-box;
    margin-top: 54px;
    margin-bottom: 57px;
    min-height: 250px;
    background-image: url("../content/contact_us.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 51px;
}
.main_center {
    display: flex ;
    gap: 110px;
    justify-content: center;
}
.contact_img {
    max-width: 300.31px;
    /*height: 181px;*/
    margin-top: 73px;
}
.title_contact {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 24px;
    margin-top: 40px;
}
.address {
    margin-top: 56px;
}
.address_text {
    width: 300px;
}

.text_contact {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}
.contact_form {
    box-sizing: border-box;
    max-width: 540px;
    background: #FFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 56px;
    display: flex;
    flex-direction: column;
}
.title_form {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 16px;
}
.text_form {
    font-family: 'Roboto',sans-serif;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-top: 32px;
    margin-bottom: 8px;
}
.input {
    display: block;
    box-sizing: border-box;
    max-width: 428px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    border-radius: 10px;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding: 21px 0 21px 36px ;
}
.textarea_message {
    box-sizing: border-box;
    opacity: 0.4;
    border: 1px solid #356EAD;
    border-radius: 10px;
    padding-bottom: 72px;
    resize: none;
}
.submit {
    display: block;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFF;
    margin-top: 72px;
    padding: 23px 183px;
    border:none;
}
.submit:hover{
    cursor: pointer;
    background: #418bcb;
}
.phone_text:before {
    content: url("../content/phone.svg");
    padding-right: 19px;
    vertical-align: middle;
}
.phone_text {
    color: #1F3F68;
    margin-bottom: 16px;
}
a {
    display: block;
    text-decoration: none;
}
.tel:hover{
    color: #418bcb;
}
.mail:hover {
    color: #418bcb;
}
.service_text1 {
    margin-bottom: 16px;
}
.service_text1:hover {
    color: #418bcb;
}
.service_text1:before {
    content: url("../content/world.svg");
    padding-right: 19px;
    vertical-align: middle;
}
.service_text2:before {
    content: url("../content/mail.png");
    padding-right: 19px;
    vertical-align: middle;
}
.map {
    max-width: 940px;
    width: 100%;
    margin-bottom: 112px;
    margin-top: 96px;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
