@mixin leftPart {
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  width: 100%;
}
@mixin wrapper{
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
@mixin items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}