@import "mixin";
$colorGray: #6c6c6c;
$colorBlack: #212121;

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}
.header {
  background-image: url("../img/header-background.jpg");
  min-height: 800px;
  @include wrapper;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.header__top {
  margin-top: 52px;
  margin-bottom: 260px;
  gap: 25px;
  padding-right: 68px;
  @include items;
}
.logo:hover {
  opacity: 0.8;
}
.search:hover {
  opacity: 0.7;
}
.menu-search {
  display: flex;
  gap: 19px;
  align-items: center;
}
.menu {
  padding: 0;
  margin: 0;
  margin-top: -5px;
  list-style-type: none;
  display: flex;
  max-width: 504px;
  gap: 24px;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.menu__link {
  text-decoration: none;
  color: inherit;
}
.menu__link:hover {
  color: $colorBlack;
  font-weight: 700;
  letter-spacing: 1.4px;
  border-bottom: 3px solid $colorBlack;
  padding-bottom:3px;
}
.home {
  color: $colorBlack;
  font-weight: 700;
  letter-spacing: 1.4px;
}
.logo {
  margin-left: 0;
}
.header__left-part {
  max-width: 488px;
}
  .left__color-text {
    max-width: 488px;
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }
  .left__title {
    color: $colorBlack;
    font-size: 62px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 14px;
    letter-spacing: -3.6px;
  }
  .left__text {
    color: $colorGray;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 39px;
    letter-spacing: -0.2px;
  }
  .order {
    text-decoration: none;
    padding: 11px 30px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    color: $colorBlack;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-bottom: 200px;
  }
.order img {
  margin-left: 7px;
}
.order:hover {
  font-weight: 800;
  color: #000000;
  box-shadow: 0 2px 5px 1px rgb(40, 35, 35);
}
.header__left__color-text {
  color: #43a047;
}
.slider {
  display: flex;
  margin-top: 141px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.dot {
  opacity: 0.4;
}
.dot:hover {
  height: 40px;
  width: 40px;
  opacity:1;
  path {
    fill: $colorBlack;
  }
}
.dot:active {
  height: 40px;
  width: 40px;
  opacity:1;
  path {
    fill: $colorBlack;
  }
}
.main__left__color-text {
  color: #e53935;
}
.main__featured {
  padding-top: 113px;
  padding-bottom: 123px;
}

.main__featured__items {
  margin-bottom: 51px;
  @include items;
  padding-left: 8px;
  letter-spacing: -1.4px;
}
.titles {
  display: flex;
  width: 269px;
  justify-content:space-between;
  border-bottom: 1px solid $colorGray;
  padding-bottom:12px;
}
.title1:hover {
  box-sizing:border-box ;
  cursor: pointer;
  border-bottom: 3px solid $colorBlack;
  color: $colorBlack;
}
.title {
  color: $colorBlack;
  font-size: 36px;
  font-weight: 700;
}
.title-new {
  color: $colorGray;
}
.explore {
  color: $colorBlack;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.0px;
  margin-top: 8px;
}
.explore:hover {
  cursor:pointer ;
  color: #000000;
  font-weight: 800;
}
.images {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.chair:hover {
  cursor:pointer;
  outline: 1px solid #9c9c9c;
  background-color: #ffffff;
  opacity: 0.1;
}
.exclusive {
  display: flex;
}
.main__left-part1 {
  background-image: url("../img/promo-img1.jpg");
  min-height: 683px;
  @include leftPart;
  padding: 208px 0 256px 42px;
}
.main__left-part2 {
  background-image: url("../img/promo-img2.jpg");
  min-height: 683px;
  @include leftPart;
  padding: 208px 0 256px 53px;
}
.main__left__color-text1{
  color: #1e88e5;
  margin-bottom: -7px;
}
.main__left__title1 {
  color: $colorBlack;
  font-size: 36px;
  font-weight: 700;
  text-transform: none;
  line-height: normal;
  margin-bottom: 9px;
  letter-spacing: -1.2px;
}
.main__left-text1 {
  max-width: 375px;
}
.main__trending {
  padding-top: 110px;
  padding-bottom: 120px;
}
.main__trending__items {
  @include items;
  margin-bottom: 63px;
  letter-spacing: -1.4px;
}
.explore1 {
  margin-top: 17px;
}
.images1 {
  display: grid;
  grid-gap:30px;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, 370px);
  justify-content: center;
}
.product {
  width: 100%;
}
  .wrapper {
  padding-top: 270px;
  background-image: url("../img/main-background.jpg");
  min-height: 800px;
  margin-bottom: 120px;
  @include wrapper;
}
.main__left-part {
  max-width: 488px;
  box-sizing: border-box;
}
.slider1 {
  margin-top: 226px;
}
.products {
  display: flex;
  margin-bottom: 120px;
}
.main__left-part3 {
  background-image: url("../img/product11.jpg");
  min-height: 570px;
  @include leftPart;
  padding: 169px 0 185px 30px;
}
.main__left-text3 {
  max-width: 332px;
}
.images2 {
  display: grid;
  grid-gap: 30px;
  grid-template: 270px 270px/ 270px 270px;
  margin-left: 30px;
}
.wrapper-tele {
  padding-top: 108px;
  background-image: url("../img/tele.jpg");
  min-height: 516px;
  @include wrapper;
}
.main__left__color-text-tele {
  color: $colorGray;
  margin-bottom: -10px;
}
.left__title-tele {
  max-width: 475px;
  margin-bottom: 11px;
}
.left__text-tele {
  font-size: 22px;
  margin-bottom: -6px;
  letter-spacing: -0.6px;
}
.apps {
  display: flex;
  gap: 10px;
}
.app:hover {
  margin-top: 5px;
}
.footer {
  padding-top: 117px;
  padding-bottom: 39px;
  background-color: #f7f7f7;
}
.footer__top {
  display: flex;
  margin-bottom: 67px;
}
.footer__title {
  color: $colorGray;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 18px;
}
.footer__text {
  color: $colorBlack;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.25px;
  line-height: 19px;
}
.useful {
  margin-left: 80px;
  margin-right: 78px;
}
.contact__item {
  max-width: 221px;
  margin-bottom: 27px;
}
.contact__item1 {
  margin-bottom: 3px;
}
.contact__item2 {
  text-decoration: none;
  letter-spacing: -0.4px ;
}
.contact__item2:hover {
  color: $colorGray;
  font-weight: 700;
}
.tel {
  text-decoration: none;
  color: inherit;
}
.tel:hover {
  color: $colorGray;
  font-weight: 700;
}
.useful__items1 {
  display: flex;
  gap: 103px;
  max-width: 422px;
}
.useful__items {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: $colorBlack;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.useful__item {
  padding: 0;
  margin: 0px;
  letter-spacing: 0.3px;
}
.useful__item2 {
  margin:10px 0;
}
.useful__item__link {
  text-decoration: none;
  color: inherit;
}
.useful__item__link:hover {
  font-weight: 800;
}
.touch__text {
  max-width: 363px;
  margin-bottom: 26px;
}
.touch__input {
  width: 370px;
  height: 48px;
  border: 1px solid #d9dee1;
  background-color: #ffffff;
  position:relative;
  padding: 0;
  box-sizing: border-box;
}
.input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 19px 69px 19px 19px;
  border: none;
  outline: none;
  color: $colorGray;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.1px;
}
.button {
  position: absolute;
  height: 100%;
  width: 50px;
  right: 0;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}
.tg {
  display: block;
  margin: 0 5px 0 auto;
}
.touch__input:focus {
  outline: none;
  border: none;
}
.bottom__text {
  color: $colorGray;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.footer__bottom {
  display: flex;
}
.icons {
  margin-left: 158px;
  margin-right: 172px;
  display: flex;
  gap:7px;
  margin-top: -6px;
}
.social__link {
  opacity: 0.5;
}
.social__link:hover {
  opacity: 1;
}







